<%- include('../partials/header.ejs') %>

<div id="row">
	<div id="column">
		<img id="showImg" src="<%= song.results[0].artworkUrl100 %> " alt="" />
		<h3><%= song.results[0].trackName %></h3>
		<h4><%= song.results[0].collectionName %></h4>
		<h4><%= song.results[0].artistName %></h4>
		<h4><%= song.results[0].trackExplicitness %></h4>
		<h5>Owned By:</h5>
		<ul>
			<% ownedBy.forEach(user => { %>
			<li><img src="<%= user.avatar %> " alt="" /> <%= user.name %></li>
			<% }) %>
		</ul>
	</div>
	<div id="column">
		<form
			action="/songs/<%= song.results[0].trackId %>/owned"
			method="POST"
		>
			<input
				type="text"
				hidden
				name="trackName"
				value="<%= song.results[0].trackName %>"
			/>
			<input
				type="text"
				hidden
				name="collectionName"
				value="<%= song.results[0].collectionName %>"
			/>
			<input
				type="text"
				hidden
				name="artistName"
				value="<%= song.results[0].artistName %>"
			/>
			<input type="text" hidden name="videoUrl" value="" />
			<input
				type="text"
				hidden
				name="trackExplicitness"
				value="<%= song.results[0].trackExplicitness %>"
			/>
			<input
				type="text"
				hidden
				name="artwork"
				value="<%= song.results[0].artworkUrl100 %>"
			/>
			<input
				type="text"
				hidden
				name="trackId"
				value="<%= song.results[0].trackId %>"
			/>
			<input
				type="text"
				hidden
				name="ownedBy"
				value="<%= song.results[0].ownedBy %>"
			/>
			<input
				type="text"
				hidden
				name="reviews"
				value="<%= song.results[0].reviews %>"
			/>
			<button type="submit">Add to Own List</button>
		</form>
		<h3>Average Rating</h3>
		<p>fake 5 star icons</p>
		<h4>Reviews</h4>
		<form
			action="/songs/<%= song.results[0].trackId %>/reviews"
			method="POST"
		>
			<textarea required name="content" cols="10"></textarea>
			<br />
			<h4>Rating</h4>
			<input
				id="inputBtn"
				required
				type="number"
				name="rating"
				max="5"
				min="0"
			/>
			<input
				type="text"
				hidden
				name="trackId"
				value="<%= song.results[0].trackId %>"
			/>
			<button id="textareaBtn" type="submit">Submit Review</button>
		</form>
	</div>
</div>

<%- include('../partials/footer.ejs') %>
