<%- include('../partials/header.ejs') %>
<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous"
/>
<style>
	body {
		text-align: center;
		align-items: center;
		justify-content: center;
	}
</style>

<div class="card mb-3" style="max-width: 1080px">
	<div class="row no-gutters">
		<div class="col-md-4">
			<img src="<%= userInfo.avatar %> " class="card-img" alt="..." />
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h4 class="card-title"><%= userInfo.name %></h4>
				<h5 class="card-text"><%= userInfo.message %></h5>

				<p class="card-text">
					<small class="text-muted">Last updated 3 mins ago</small>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<% if (songs.length > 3) { %>
		<div class="column">
			<% } %> <% if (songs){ %> <% songs.forEach(song => { %>
			<div class="col s12 m6 l4 xl3">
				<div class="card large">
					<div class="card-image">
						<img src="<%= song.artwork %> " />
					</div>
					<span class="card-title"> <%= song.trackName %> </span>
					<div class="card-content">
						<ul>
							<li><%= song.artistName %></li>
							<li><%= song.collectionName %></li>
						</ul>
					</div>
					<div class="card-action">
						<a href="/songs/<%= song.trackId %>">More Details</a>
					</div>
				</div>
			</div>
			<% })} %> <% if (songs.length > 3) { %>
		</div>
		<% } %>
	</div>
</div>

<%-include('../partials/footer.ejs') %>
